/* Font for page banner */
@font-face {
    font-family: "Worktalk";
    src: url("/fonts/Worktalk.woff2") format("woff2"),
         url("/fonts/Worktalk.ttf") format("truetype"),
         url("/fonts/Worktalk.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Style for page banner */
article > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
article > header > p {
  width: 55%;
}
article > header > p.banner-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  line-height: 1;
}
article > header > p.banner-title > a {
  font-family: "Worktalk";
  text-decoration: none;
  background: unset;
  font-size: 2.4rem;
}
