.blog-post-list > .blog-post-item > span.blog-post-summary {
    display: flex;
    flex-direction: column;
}
.blog-post-list > .blog-post-item > span.blog-post-summary > .blog-post-pubDate {
    opacity: 0.66;
    font-style: italic;
}
